
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
package-lock.json
publish/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

.DS_Store

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/
!.vscode/settings.json

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/